 
 body{
    background-color: bisque;
 }
 p{
    background-color: yellow;
}


.texto{
    background-color: brown;
}

#texto3{
    background-color: aquamarine;
}

a {
  background-color: #adabf0;
  color: #FFF;
  padding: 14px 30px;
  font-size: 24px;
  border-radius: 14px;
  text-decoration: none;
}

a:hover{
    background-color: #FFF;
    color: #adabf0;
}