body{
    background-color: bisque;
}

div {
    /* background-color: rgb(201, 255, 243); */
    border: 1px solid #f0f;
}



.btn-warning {
    background-color: #a1d0cc;
}

.boton{
      background-color: #9d0c0c;
    }

